<div class="jumbotron text-center">
  <h1>Asthma Tracking</h1>

  <h3>Did Linus have a good lung day?</h3>

  <div class="form-horizontal form-group form-group-lg row">
    <div>
      <button class="btn btn-primary btn-lg" {{action "yesGoodDay"}}>Yes! :)</button>
      <button class="btn btn-primary btn-lg" {{action "noBadDay"}}>No :(</button>
    </div>
  </div>

  {{#if responseMessage}}
    <div class="alert alert-sucess">{{responseMessage}}</div>
  {{/if}}

</div>