<form {{action "launchConfrimShown" on="submit"}}>
    {{input placeholder="tracking title" value=trackingItem.trackingTitle}}
    {{input placeholder="date" value=trackingItem.date}}
    {{input placeholder="had attack?" value=trackingItem.hadAttack}}
    <br />
    <input type="submit" value="Add">
</form>