{{login-form}}
<div class="jumbotron text-center">
  <h1>Welcome!</h1>

  <p>This is just a playaround for the developer, if you are reading this congrats on finding it! However, there is nothing here for you.</p>
  <p>Thanks for stopping by!</p>

</div>