<h1>About Asthma Alert</h1>

<p>
  Welcome to Asthma Alert. My name is Cam and I created this app thanks to my cat Linus. Linus is a spynx cat that we adopted from an animal shelter. After about a year
  we found out that he has asthma. We are not quite sure what triggers his asthma, thus why I created this app. I create this app to help with tracking and trying to figure out what
  kind of factors could be triggering Linus' ashtma.
</p>